beautifulsoup4==4.10.0
certifi==2021.5.30
charset-normalizer==2.0.6
greenlet==1.1.2
httplib2==0.20.1
idna==3.2
lxml==4.6.3
pip==21.2.4
playwright==1.15.3
pyee==8.2.2
pyparsing==2.4.7
requests==2.26.0
selenium-stealth==1.0.6
selenium==3.141.0
setuptools==58.2.0
six==1.16.0
soupsieve==2.2.1
TikTokApi==4.0.4
urllib3==1.26.7
vk-api==11.9.4
websockets==10.0
